.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: #1f6aa8; */
  background: #0e2f4a;

  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.header {
  padding: 3rem;
  color: white;
}

/* .container {
  background: #0e2f4a;
  min-height: 100vh;
} */

table {
  background: #3191e0;
}

th {
  color: white;

}

.complete-bg-color {
  background-color:#5cb85c;
}


